@media screen and (max-width: 1000px) {
    .nav {
        display: none;
    }

    .mobileNav {
        display: block;
    }

    .content-wrap {
        margin-top: 70px;

    }

    .nav-drawer {
        display: block;
    }

}