* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --font-prm-: 'Montserrat', sans-serif;
    --color-prm-: #f1f1f1;
    --hover-clr-red-: #ed1c24;
    --hover-clr-red-btn-: #a72d2d;
    --hover-bg-clr-grey-: #3d3d3d;
}

*:focus {
    outline: none;
}



.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.page_header {
    width: 100%;
    height: 40px;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.page_header-inner {
    width: 100%;
    height: 100%;
    max-width: 1920;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page_header-inner-title {
    font-size: 8px;
    padding: 0 45px;
}

.page_innet-title_links {
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
}


/* Page path  */

.page_wrap {
    width: 100%;
    margin-top: 40px;
}



/* Full Image */
.heroe-img-bikes {
    background: url(../shop/bikes/bikes_img/18_banner_bikes.jpg);
}

.heroe-img-trail {
    background: url(../shop/shop_individual_bikes/trail/plp-banner_mountainTrail.jpg);
}

.heroe-img-downhill {
    background: url(../shop/shop_individual_bikes/downhill/plp-banner_mountainDownhill.jpg);
}

.heroe-img-s-works {
    background: url(../shop/shop_individual_bikes/s-works/131845_Cyclists-competing-in-Tour-de-France-2014_GettyImages-452789140---Hero.jpg);
}

.page-heroe {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 40px;
}

.page-heroe_title {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 45px;
    font-weight: 600;
}

/* Page content */
.page-content {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    position: relative;
}


/* Short cuts and category goes from here */

.bikes-menu {
    justify-content: left;
    position: sticky;
    top: 90px
}

.bikes-menu_wrap,
.bikes-menu {
    width: 250px;
    height: 500px;
    margin-top: 5px;
}

.menu-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;
}

.category {
    margin-bottom: 0px;
}

.menu-category_wrap {
    height: 100%;
}



/* Category goes from here on */

.category-wrap {
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

.category-title-wrap {
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.category_activator-wrap {
    display: flex;
    cursor: pointer;
    width: 30px;
    position: relative;
}

.category_activator-show-shortCut,
.category_activator-hide-shortCut {
    background-color: #4c4c4c;
    width: 8px;
    height: 2px;
}

.category_activator-show-shortCut {
    margin: 8px 10px 10px 10px;
    cursor: pointer;
}

/* .category_activator-hide-shortCut */

.category_activator-hide-shortCut {
    transform: rotate(90deg);
}


/* set class .active to element with class on event   */
.active .category_activator-hide-shortCut {
    display: none;
}

.category_holder-bikes {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.category-shortCut-trail:hover,
.category-shortCut-downhill:hover,
.category-shortCut-s-works:hover {
    font-weight: 800;
}

.category-bikes-ul {
    display: none;
}

.current-active {
    display: block;
}

.hide-shortCut {
    display: none;
}

.shortCut-bikes {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 10px;
}

.shortCut-bikes-links:hover {
    color: var(--hover-clr-red-);
}

.category-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 20px;
}


/* Bikes content Section */
.bikes-content {
    width: inherit;
    /* width: calc(98%-250px); */
    padding: 0 20px 20px;
}

.bike-content-wrap {
    width: 100%;
    height: 100%;
}

.section-trail,
.section-downhill,
.section-s-works {
    position: relative;
    margin-bottom: 20px;
}

.section-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    padding-top: 5px;
}

.section-content-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-view {
    width: 30.5%;
    height: 30vw;
    max-height: 700px;
    margin: .7vw;
}


/* Trail bikes Images */
.StumpJumperPro29-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/trail/StumpJumperPro29-PrevCard_bikes_page[1].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.StumpJumperExpert29-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/trail/StumpJumperExpert29-PrevCard[2].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.StumpJumperExpert27_5-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/trail/StumpJumperExpert27_5-PrevCard[3].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.FuseExpert29-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/trail/FuseExpert29-PrevCard[4].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.FuseExpert27_5-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/trail/FuseExpert27_5-PrevCard[5].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


/* Downhill bikes Images */
.DemoExpert29-img {
    width: 100%;
    height: 50%;
    background-image: url(../shop/bikes/bikes_img/downhill/DEMO-EXPERT-29[1].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.DemoRace29-img {
    width: 100%;
    height: 50%;
    background-image: url(../shop/bikes/bikes_img/downhill/DEMO-RACE-29[2].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.DemoAlloy27_5-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/downhill/DemoAlloy27_5[3].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


/* S-works bikes Images */
.S-WorksDemo8-img {
    width: 90%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/s-works/SWorksDemo8[1].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.S-WorksDemoEpicEVO-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/s-works/SWorksDemoEpicEVO[2].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.S-WorksStumpJumper29-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/s-works/SWorksStumpJumper29[3].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.S-WorksStumpJumper27_5-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/s-works/SWorksStumpJumper27_5[4].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.S-WorksDemo8Frame-img {
    width: 100%;
    height: 60%;
    background-image: url(../shop/bikes/bikes_img/s-works/SWorksDemo8Frame[5].png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}



/* Product view Info */
.product-view_info-wrap {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.product-view-text {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-view-price {
    font-size: 14px;
    /* margin-bottom: 10px; */
}

.product-color {
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}



.bolder-scroll {
    font-weight: 800;
}




/* individual page starts from here */

/* header */
.individual-page-bikes,
.individual-bikes-header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.individual-bikes-header {
    height: 40px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.individual-bikes-header-inner {
    width: 100%;
    height: 100%;
    max-width: 1920;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bikes-inner-title {
    font-size: 8px;
    padding: 0 45px;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
}





/* StumpJumperPro29 */

.individual-bikes-wrap {
    margin-top: 38px;
    width: 100%;
}

.StumpJumperPro29 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperPro29-Hero_[1].jpg);
}




.StumpJumperExpert29_1 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert29-Hero_[2].jpg);
}

.StumpJumperExpert29_2 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert29_[2]/StumpJumperExpert29-2.64267605.jpg);
}

.StumpJumperExpert29_3 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert29_[2]/StumpJumperExpert29-3.00f516f7.jpg);
}

.StumpJumperExpert29_4 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert29_[2]/StumpJumperExpert29-4.5be06b9a.jpg);
}


/* StumpJumperExpert27_5 */
.StumpJumperExpert27_5_1 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5-Hero_[3].jpg);
}

.StumpJumperExpert27_5_2 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5_[3]/StumpJumperExpert27_5_2.jpg);
}

.StumpJumperExpert27_5_3 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5_[3]/StumpJumperExpert27_5_3.jpg);
}

.StumpJumperExpert27_5_4 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5_[3]/StumpJumperExpert27_5_4.jpg);
}

.StumpJumperExpert27_5_5 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5_[3]/StumpJumperExpert27_5_5.jpg);
}

.StumpJumperExpert27_5_6 {
    background: url(../shop/shop_individual_bikes/trail/img/StumpJumperExpert27_5_[3]/StumpJumperExpert27_5_6.jpg);
}


/* FuseExpert29 */
.FuseExpert29 {
    background: url(../shop/shop_individual_bikes/trail/img/FuseExpert29-PrevCard[4].png);
}





.carousel:focus {
    outline: none;
}

.individual-bikes {
    width: 100%;
    height: 60vh;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bike-cart {
    width: 100%;
    position: relative;
}

.bike-cart_wrap {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.bike-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px
}


.bike-part {
    font-size: 12px;

}

.bike-price {
    font-size: 18px;
    padding-top: 12px;
    font-weight: 600;
}

.bike-part,
.bike-price {
    text-align: right;
}

.info-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-wrap {
    display: block;
    align-items: center;
}

.rating-icon_thumbsUp {
    background: url(../img/icos/svg/thumbs-up.svg);
    transform: rotateY(180deg);
}

.rating-icon_thumbsDown {
    background: url(../img/icos/svg/thumbs-down.svg);
}

.rating-icon_thumbsUp,
.rating-icon_thumbsDown {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin-left: 20px;
    filter: invert(74%) sepia(2%) saturate(2%) hue-rotate(13deg) brightness(91%) contrast(83%);
    transition: filter 0.3s ease-in;
}

.rating-icon_thumbsUp:hover {
    filter: invert(65%) sepia(78%) saturate(408%) hue-rotate(73deg) brightness(90%) contrast(95%);
}

.rating-icon_thumbsDown:hover {
    filter: invert(16%) sepia(99%) saturate(2254%) hue-rotate(346deg) brightness(97%) contrast(89%);
}

.thumbs-rating-holder {
    display: inline-block;
    font-size: 16px;
    /* width: 25px;
    height: 25px; */
    /* text-align: center;
    justify-content: center; */
    /* padding: auto; */
}

.thumbsUp-rating-count {

    font-weight: 500;

}

.thumbsUp-active {
    color: #44d14f;
}

.thumbsDown-rating-count {
    padding-left: 15px;
    font-weight: 500;

}

.thumbsDown-active {
    color: #b32727;
}

.color-icon_color-wrap {
    align-self: center;
}

.color-icon {
    margin-top: 30px;
    widows: 25px;
    height: 25px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50%;
}

.color-icon_StumpJumperPro29 {
    background-image: url(../shop/shop_individual_bikes/trail/img/StumpJumperPro29-Hero_[1].svg);
}

.color-icon_StumpJumperExpert29,
.color-icon_StumpJumperExpert27_5,
.color-icon_FuseExpert29 {
    background-image: url(../shop/shop_individual_bikes/trail/img/SJ-EX29-27.d14557fd[2]\,[3].svg);
}

.color-text {
    margin-top: 8px;
    font-size: 14px;
}

.color-icon,
.color {
    align-items: flex-start;
    flex-flow: row;
}

.info-bike-size-count {
    position: relative;
    min-width: 200px;
}

.bike-cart-from {
    height: 30px;
    display: inline-block;
    align-self: flex-start;
}

.bike-select {
    text-transform: uppercase;
    border: 1px solid #141414;
    border-radius: 0;
    font-size: 12px;
    cursor: pointer;
    text-align-last: center;
}

.noBorder {
    border: none;

}

.bike-select,
.bike-qty_option {
    width: 50px;
    height: 100%;
}

.bike-qty_option {
    text-align: center;
    height: 30px;
}

.bike-qty {
    margin-left: 10px;
}

.info-right-add {
    display: flex;
    flex-direction: column;

}

.bike-cart_add-to-cart {
    background-color: #d32e2e;
    border: none;
    color: #ffffff;
    width: 150px;
    height: 50px;
    align-items: center;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

.bike-cart_add-to-cart:hover {
    background-color: #b32727;
}

.bike-cart_in-stock {
    color: #44d14f;
    font-size: 12px;
    margin-top: 40px;
}

.bike-cart_add-to-cart,
.bike-cart_in-stock,
.bike-description-text-bottom {
    text-transform: uppercase;
}


/* DESCRIPTION */
.bike-description {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.bike-description-wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bike-description-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

.bike-description-text-bottom {
    font-size: 18px;
    margin: 20px 0 50px;
    font-weight: 600;
    cursor: pointer;
}

.bike-description-list {
    list-style-type: disc;
    padding-left: 20px;
}

.bike-description-list-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    display: list-item;
    list-style-position: outside;
    list-style: disc;
}


/* BIKE VIDEO video-StumpJumperPro29 */
.video-StumpJumperPro29 {
    width: 100%;
    height: 75vh;
}

/* BIKE SPECS */

.bike-specs {
    background-color: #292929;
    padding: 70px 40px;
    color: #ffffff;
    /* margin-bottom: 40px; */
}

.bike-specs-wrap {
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: left;
}

.bike-specs-left {
    /* width: 300px; */
    margin-right: 40px;
}

.bike-specs-downloadManual {
    width: 250px;
    padding: 20px 15px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    transition: background-color .2s ease-in;
    cursor: pointer;

}

.bike-specs-downloadManual:hover {
    background-color: #333333;
}

.bike-specs-downloadManual-title {
    font-size: 14px;
    font-weight: 500;
}

.bike-specs-right-table {
    width: auto;
    padding: 0 20px;
}

/* SPECS TABLE */
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.bike-specs-right-table-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.specs-table-wrap,
.specs-section-wrap,
.specs-section-title-table,
.specs-section-category,
.specs-section-title-table-info,
.specs-section-category-info {
    width: 100%;
}

.specs-section-wrap {
    padding-top: 10px;
    /* display: flex;
    justify-content: space-between; */

}

.specs-section-category {
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    font-weight: 400;
    padding-right: 14px;
}

.specs-section-category-title {
    width: 150px;
    padding-bottom: 5px;
    transition: filter 0.2s ease-in;
    cursor: pointer;
    color: #cdcdcd;
    font-size: 18px;
}

.specs-section-category-title:hover,
.bike-specs-right-table-title:hover {
    color: #d4d4d4;
}

.titleChevrons {
    margin-left: 154px;
}

.chevrons {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.chevronUp {
    background: url(../img/icos/svg/chevron-up.svg);

}

.chevronDown {
    background: url(../img/icos/svg/chevron-down.svg);
    display: none;
}

.chevronUp,
.chevronDown {
    position: absolute;
    filter: invert(95%) sepia(58%) saturate(0%) hue-rotate(233deg) brightness(114%) contrast(96%);
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    position: left;
    cursor: pointer;
}


.chevronUp:hover,
.chevronDown:hover {
    filter: invert(89%) sepia(0%) saturate(1144%) hue-rotate(147deg) brightness(102%) contrast(89%);
}

.specs-name {
    white-space: nowrap;
    width: 150px;
    /* display: flex; */
    /* align-self: flex-start; */
    color: #cdcdcd;
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
    vertical-align: top;
}

.specs-info {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 20px;
    vertical-align: top;
}

.specs-section-wrap {
    padding-bottom: 30px;
}

.specs-small-text {
    font-size: 8px;
}