/* .product-view {
    width: 45%;
    height: 40vw;
    max-height: 700px;
    margin: .7vw;
}

 */

/* CART for deleting */
.bike-cart-table {
    width: auto;
    padding: 0 20px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.bike-cart-table-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cart-table-wrap,
.cart-section-wrap,
.cart-section-title-table,
.cart-section-category,
.cart-section-title-table-info,
.cart-section-category-info {
    width: 100%;
}

.cart-section-wrap {
    padding-top: 10px;
    /* display: flex;
    justify-content: space-between; */

}

.cart-section-category {
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    font-weight: 600;
    padding-right: 14px;
    /* display: inline-block; */
}

.cart-section-category-title {
    /* width: 145px; */
    padding-bottom: 5px;
    transition: filter 0.2s ease-in;
}

.cart-section-category-title {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: center;
    border-top: 1px solid #ddd;
}

.cart-section-category-title-btn {
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 25px;
    padding-bottom: 5px;
    transition: filter 0.2s ease-in;
}

.cart-name {
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    width: 150px;
    padding: 0 5px 5px 0;
    display: flex;
    align-self: flex-start;
}

.cart-info {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

.cart-section-wrap {
    padding-bottom: 30px;
}

.partNum {
    width: 125px;
}

.partName {
    width: 220px;
}

.uppercase {
    text-transform: uppercase;
}

.partSize,
.partColor,
.partQty,
.partTotal {
    width: 25px;
}

.partPrice,
.partTotalPrice {
    width: 150px;
    text-align-last: center;
}


.partDelBtn,
.filler {
    width: 25px;
}


.addedItem {
    font-size: 14px;
    font-weight: 300;
}

.addedColor {
    align-items: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}

.option-buttons {
    display: flex;
    justify-content: space-between;
}

.backToShopping {
    background-color: #4e4e4e;
}

.checkOut {
    background-color: #d32e2e;
}

.backToShopping,
.checkOut {
    width: 160px;
    max-width: 200px;
    transition: background-color 0.2s ease-in;
}

.backToShopping:hover {
    background-color: #3d3d3d;
}

.deleteItem {
    cursor: pointer;
    background: url(../img/icos/svg/trash-alt.svg);
    align-items: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: none;
    transition: filter 0.2s ease-in;
    filter: invert(30%) sepia(87%) saturate(2243%) hue-rotate(340deg) brightness(82%) contrast(103%);
}

.deleteItem:hover {
    filter: invert(23%) sepia(86%) saturate(7007%) hue-rotate(350deg) brightness(95%) contrast(95%);
}

.deleteItem:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.deleteItem:focus {
    outline: 0;
}

.cartIconProdCount {
    display: block;
    border-radius: 50%;
    text-align: center;
    min-width: 15px;
    height: 15px;
    background: #ed1c24;
    color: #fff;
    font-size: 9px;
    font-weight: 100;
    position: absolute;
    top: -10px;
    right: -.45vw;
    line-height: 15px;
}


.align-cent {
    text-align: center;
}

.text-align-last {
    text-align-last: center;
}