/* CART for deleting */
/* .bike-cart-table {
    width: auto;
    padding: 0 20px;
} */

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.bike-cart-table-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cart-table-wrap,
.cart-section-wrap,
.cart-section-title-table,
.cart-section-category,
.cart-section-title-table-info,
.cart-section-category-info {
    width: 100%;
}

.cart-section-wrap {
    padding-top: 10px;
    /* display: flex;
    justify-content: space-between; */

}

.cart-section-category {
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    font-weight: 600;
    padding-right: 14px;
    /* display: inline-block; */
}

.cart-section-category-title {
    /* width: 145px; */
    padding-bottom: 5px;
    transition: filter 0.2s ease-in;
}

.cart-section-category-title {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: center;
    border-top: 1px solid #ddd;
}

.cart-section-category-title-btn {
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    width: 25px;
    padding-bottom: 5px;
    transition: filter 0.2s ease-in;
}

.cart-name {
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    width: 150px;
    padding: 0 5px 5px 0;
    display: flex;
    align-self: flex-start;
}

.cart-info {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

.cart-section-wrap {
    padding-bottom: 30px;
}

.partNum {
    width: 125px;
}

.partName {
    width: 220px;
}

.uppercase {
    text-transform: uppercase;
}

.partSize,
.partColor,
.partQty,
.partTotal {
    width: 25px;
}

.partPrice,
.partTotalPrice {
    width: 150px;
    text-align-last: center;
}


.partDelBtn,
.filler {
    width: 25px;
}


.addedItem {
    font-size: 14px;
    font-weight: 300;
}

.addedColor {
    align-items: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}

.option-buttons {
    display: flex;
    justify-content: space-between;
}

.backToShopping {
    background-color: #4e4e4e;
}

.checkOut {
    background-color: #d32e2e;
}

.backToShopping,
.checkOut {
    width: 160px;
    max-width: 200px;
    transition: background-color 0.2s ease-in;
}

.backToShopping:hover {
    background-color: #3d3d3d;
}

.deleteItem {
    cursor: pointer;
    background: url(../img/icos/svg/trash-alt.svg);
    align-items: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: none;
    transition: filter 0.2s ease-in;
    filter: invert(30%) sepia(87%) saturate(2243%) hue-rotate(340deg) brightness(82%) contrast(103%);
}

.deleteItem:hover {
    filter: invert(23%) sepia(86%) saturate(7007%) hue-rotate(350deg) brightness(95%) contrast(95%);
}

.deleteItem:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.deleteItem:focus {
    outline: 0;
}

.onlyOnMobile {
    display: none;
}

/* cart info added items */
@media screen and (max-width: 1000px) {
    .partNum {
        display: none;
    }

    .cart-info-bottom {
        flex-flow: column;
    }

    .cart-info_section {
        margin-bottom: 30px;
    }

    /* bikes-info */
    /* bike images */
    .individual-bikes {
        height: 32vw;
    }

    .bike-cart_wrap {
        flex-direction: column;
    }

    .bike-cart_info {
        margin-bottom: 12px;
    }

    .bike-cart_in-stock {
        margin-top: 10px;
    }

    .bike-name,
    .bike-part,
    .bike-price,
    .info-bike-size-count,
    .info-right-add {
        text-align: center;
    }

    .bike-cart_add-to-cart {
        align-self: center;
    }

    .addedToCartPopUp_wrap {
        left: 40%;
        top: 120px;
    }

    .ItemSuccessfulUpdate-p-wrap {
        margin-left: 25px;
    }

    .ItemExists {
        left: 70%;
    }


}


@media screen and (max-width: 600px) {
    /* index landing */

    .landing-heroe-button {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }

    .landing-heroe-content-wrap {
        padding-left: 20px;
        padding-bottom: 40px;
    }

    /* Hidden nav */
    .nav-drawer-inside_text,
    .nav-drawer_shop-text {
        font-size: 12px;
    }

    /* scroll bar */
    .navigation-scroll-hidden {
        height: 35px;
    }

    .navigation-scroll-hidden-wrap {
        align-self: center;
        margin: 0 20px;
    }

    .scrollTo-overwiev-specs-wrap {
        align-self: auto;
    }

    .navigation-scroll-hidden-wrap {
        height: 35px;
    }

    .navigation-scroll-left-bike-title {
        display: none;
    }

    .navigation-scroll-left-bike-title,
    .overwiev,
    .tech_specs,
    .backToTop {
        font-size: 10px;
    }

    .overwiev {
        padding-right: 20px;
        padding-left: 10px;
    }

    .tech_specs {
        padding-left: 20px;
    }

    .tech_specs {
        padding-top: 3px;
        padding-bottom: 3px;
        /* padding-right: 0; */
    }

    .backToTop-wrap,
    .backToTop {
        height: 100%;
    }


    .backToTop-wrap,
    .overwiev {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .backToTop {
        width: 120px;

    }

    .backToTop-wrap::after {
        top: 35%;
        left: 80px;
    }

    .bikes-inner-title {
        padding-left: 20px;
    }

    .bike-specs-left {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bike-specs-downloadManual {
        width: 100%;
    }



    /* cart  */
    .cart-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .bike-cart-table-title {
        text-align: center;
    }

    /* 
    .bike-cart-table {
        padding: 0;
    } */

    .partName {
        width: 110px;
    }


    /* nav */
    #body {}

    .mobileNav {
        padding-right: 0;

    }



    .option-buttons {
        flex-flow: column;
    }

    .fullViewCartName {
        display: none;
    }

    .partSize {
        display: none;
    }

    .onlyOnMobile {
        display: block;
    }

    /* buttons */
    .checkOut,
    .backToShopping {
        max-width: 90vw;
        width: 100%;
        align-self: center;
    }

    /* popUp */
    .addedToCartPopUp_wrap {
        left: 28%;
        top: 120px;
    }

    .ItemSuccessfulUpdate-p-wrap {
        margin-left: 25px;
    }

    .ItemExists {
        left: 70%;
    }

    .bike-cart-table,
    .cart-section-wrap,
    .cart-section-category {
        width: 100%;
    }

    .cart-section-category {
        font-size: 12px;
    }

    .addedItem {
        font-size: 10px;
    }

    /* about page */
    /* .aboutUs-heroe-img {
        height: 70vh;
    } */

    .donation-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .job-openings,
    .donation-btn {
        width: auto;
    }

    .donation-btn-wrap {
        justify-content: space-evenly;
    }


    .youTubeHunter,
    .heroe-img2,
    .heroe-img1,
    .aboutUs-heroe-img,
    .img3-aboutUs {
        background-size: contain;
    }

    .heroe-img2,
    .heroe-img1,
    .landing-img {
        height: 66.5vw;
    }

    .img1-aboutUs,
    .img4-aboutUs {
        height: 70vh;
    }

    .img3-aboutUs {
        height: 40vh;
    }



    .youTubeHunter {
        height: 56vw;
    }


    .aboutUs-heroe-content,
    .why-work-here {
        display: none;
    }

    .youtube-wrap {
        display: block;
    }

    .aboutUs-heroe-content-mobile {
        display: flex;
    }

    .landing-intro-aboutUs {
        font-size: 16px;
        height: 100px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-title {
        font-size: 20px;
    }

    .mobile-job-openings-btn {
        align-self: center;
    }

}

.cartIconProdCount {
    display: block;
    border-radius: 50%;
    text-align: center;
    min-width: 15px;
    height: 15px;
    background: #ed1c24;
    color: #fff;
    font-size: 9px;
    font-weight: 100;
    position: absolute;
    top: -10px;
    right: -.45vw;
    line-height: 15px;
}


.align-cent {
    text-align: center;
}

.text-align-last {
    text-align-last: center;
}