* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --font-prm-: 'Montserrat', sans-serif;
    --color-prm-: #f1f1f1;
    --hover-clr-red-: #ed1c24;
    --hover-clr-red-btn-: #a72d2d;
    --hover-bg-clr-grey-: #3d3d3d;
}

*:hover {
    transition: background-color .3s ease-out;
    transition: color .3s ease-out;
}

body {
    font-family: var(--font-prm-);
    width: 100vw;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

a {
    color: #141414;
    display: block;
}

ul {
    list-style-type: none;
}

.site {
    font-family: montserrat, sans-serif;
    font-style: normal;
    color: #191919;
}

.site-inner {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

/* Start of NAV*/
.nav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 950;
}

.nav-wrap,
.row-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.nav-wrap-top {
    width: 100%;
    height: 35px;
    background-color: #141414;
    z-index: 10;
}

.row-wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.nav-top-user-wrap,
.retailer-info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-row-wrap,
.nav-top-user-wrap-flag {
    display: flex;
    justify-content: space-between;

}



.nav-top-user-wrap-flag {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer;
}

.enFlag-icon {
    width: 30px;
    height: 15px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/icos/svg/AmericanFlagIcon.891ce365.svg);
}

.retailer-icon {
    width: 15px;
    height: 15px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/icos/svg/LocationIcon.deb0b37b.svg);
}

.retailer-info {
    width: 130px;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer;
}

.retailer-text,
.enFlag-text,
.sign-in,
.shipping-offer {
    font-size: 10px;
    color: var(--color-prm-);
    font-weight: 600;
}

.shipping-offer {
    align-self: center;
    margin-left: 20px;
    font-weight: 600;
}

.sign-in {
    height: 100%;
    width: 110px;
    background-color: #4e4e4e;
    border: none;
}

.sign-in:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.sign-in:active,
.sign-in:focus {
    border-style: none;
    outline-style: none;
}

.sign-in:active {
    background-color: #4e4e4e;
}

/* NAVIGATION @2th ROW*/
.nav-wrap-bottom {
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.nav-bottom {
    width: 100%;
    height: 100%;
    position: relative;
}

.nav-links-wrapper {
    text-align: center;
    height: 100%;
}

.nav-links-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    padding: 0 40px;
}

.nav-links {
    font-size: 11px;
    text-transform: uppercase;
    color: #141414;
    font-weight: 600;
    display: block;
}

.nav-links:hover {
    color: #d32e2e;
}

.nav-logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/icos/SpecializedNavLogo.babe4687.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

li {
    list-style: none;
}

.nav-bottom-user-wrap {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-search {
    background: url(../img/icos/SearchIcon.e17d82c4.svg);
}


.nav-cart {
    background: url(../img/icos/ShoppingCartIcon.090cdbec.svg);
}

.nav-search,
.nav-cart {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.nav-logo,
.nav-search,
.nav-cart {
    transition: filter 0.4s ease-in-out;
}

.nav-search:hover,
.nav-cart:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.nav-logo:hover {
    color: #4d4d4d;
    filter: invert(28%) sepia(0%) saturate(0%) hue-rotate(300deg) brightness(97%) contrast(87%);
}

.nav-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Search field css starts from here */

.nav-search-hidden {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 5;
    -webkit-transition: bottom .3s ease-in;
    transition: bottom .3s ease-in;
}

.search-hidden-active {
    bottom: -30px;
}

.search-hidden-wrap {
    width: 75%;
    height: 80%;
}

.search-hidden_form {
    width: 100%;
    justify-content: space-between;
}

.search-hidden_form-field {
    width: 88%;
    justify-content: center;
}

.search-hidden_form,
.search-hidden_form-field {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-hidden_form-field_input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #141414;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #141414;
    padding: 0 10px;
}

.search-hidden_button {
    text-transform: uppercase;
    width: 10%;
    height: 100%;
    border: 1px solid #141414;
    outline: none;
    font-size: 14px;
    font-weight: 200;
}

.search-hidden_button:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.active-links {
    color: var(--hover-clr-red-);
}

.active-links-cart {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

/* Search field css end */




/* SignIn and Register form start */

.nav-signIn_wrap-toggle,
.nav-register_wrap-toggle {
    display: none;
}

.nav-signIn-hidden,
.nav-register-hidden {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: flex-end;

}

.nav-signIn-bg,
.nav-register-bg {
    position: absolute;
    background-color: #141414;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    /* transition: opacity 2s ease-in-out; */
}

.nav-signIn-hidden-wrap,
.nav-register-hidden-wrap {
    height: 100%;
    position: relative;
    color: #141414;
    background-color: rgb(230, 230, 230);
    padding: 0 25px;
}

.nav-signIn-bg,
.nav-register-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.signIn_form,
.register_form {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.signIn_form-label,
.register_form-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
}

.nav-form-input,
.register_form-input {
    height: 25px;
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 3px;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

.signIn_form_div-Btn {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.signIn_form_div-Btn:hover {
    color: #a72424;
}


.forgotPass {
    color: #d32e2e;
}

.registerMe {
    margin-top: 0;
    color: #d32e2e;
}

.signIn_form-rememberMe {
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signIn_form-rememberMeBox {
    /* width: 10px;
    height: 10px; */
    border: 1px solid #141414;
    cursor: pointer;
}

.signIn_register {
    text-transform: uppercase;
    width: 90px;
    height: 40px;
    font-weight: 600;
    background-color: #141414;
    color: #fff;
    border: none;
    cursor: pointer;
}

.signIn_register:hover {
    background-color: #232323;
}

.register_form {
    margin: 15px 0;
}

.nav-registe-text {
    color: var(--hover-clr-red-);
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
}

.register_form-accepts {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.register_form-terms {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    white-space: nowrap;
}

/* SignIn and Register form start */









/* End of NAV*/






/* Start MobileNav*/
.mobileNav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 950;
    display: none;
}

.mobileNav_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.mobileNav_top-row {
    width: 100%;
    height: 25px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.mobileNav_shippingOffer {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.mobileNav_bottom-row {
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.mobileNav_left-icons {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.mobileNav_left-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.mobileNav-menu-icon {
    background: url(../img/icos/MenuIcon.da8db37d.svg);
}

.mobileNav-search-icon {
    background: url(../img/icos/SearchIcon.e17d82c4.svg);
}

.mobileNav-logo {
    height: 100%;
    width: 120px;
    text-align: center;
    background: url(../img/icos/SpecializedNavLogo.babe4687.png);
}

.mobileNav-logo,
.mobileNav-search-icon,
.mobileNav-menu-icon {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: filter 0.4s ease-in;
}

.mobileNav-logo:hover,
.mobileNav-search-icon:hover,
.mobileNav-menu-icon:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.mobileNav_right-icons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.mobileNav_right-icon {
    width: 18px;
    height: 18px;
}

.mobileNav_right-icon:hover {
    fill: var(--hover-clr-red-);
}

.mobileNav_user-icon {
    background: url(../img/icos/UserIcon.5275dd23.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.mobileNav-menu-icon,
.mobileNav_user-icon {
    border: none;
}

.mobileNav_user-icon:focus,
.mobileNav-menu-icon:focus {
    visibility: hidden;
}

.mobileNav_cart-icon {
    background: url(../img/icos/ShoppingCartIcon.090cdbec.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.mobileNav_cart-icon,
.mobileNav_user-icon {
    transition: filter 0.4s ease-in;
}

.mobileNav_cart-icon:hover,
.mobileNav_user-icon:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.mobileNav_search {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 5;
    -webkit-transition: bottom .3s ease-in;
    transition: bottom .3s ease-in;
}

.mobileNav_search-active {
    bottom: -30px;
}

.mobileNav_search-wrap {
    width: 90%;
    height: 80%;
}

.mobileNav_search-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileNav_search-field {
    width: 78%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileNav_search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #141414;
    outline: none;
    font-size: 10px;
    font-weight: 500;
    color: #141414;
    padding: 0 10px;
}

.mobileNav_search-button {
    text-transform: uppercase;
    width: 10%;
    height: 100%;
    border: 1px solid #141414;
    outline: none;
    font-size: 12px;
    font-weight: 200;

}

/* MobileNav end */






/* Hidden menu start */
.nav-drawer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -120vw;
    top: 0;
    background-color: #ed1c24;
    color: #fff;
    /* display: none; */
    z-index: 1000;
    -webkit-transition: left .3s ease-in;
    transition: left .3s ease-in;
}

.nav-drawer_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 20px;
}

.nav-drawer_categories {
    width: 100%;
    height: 50px;
    display: flex;
}

.nav-drawer_exit {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav-drawer-bar {
    width: 55%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}

.nav-drawer-bar1 {
    transform: rotate(45deg);
}

.nav-drawer-bar2 {
    transform: rotate(-45deg);
}

.nav-drawer_tabs {
    width: 100%;
}

.nav-drawer_shop {
    width: 50%;
    justify-content: center;
}

.nav-drawer_shop-text {
    color: var(--color-prm-);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.nav-drawer_tabs,
.nav-drawer_shop {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-drawer_inside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e4e4e;
}

.nav-drawer-inside_text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.nav-drawer_menu {
    width: 100%;
    position: relative;
}

.nav-drawe_menu-list {
    margin-top: 20px;
}

.nav-drawer_menu-item {
    margin: 30px 0;
    font-weight: 600;
}

.nav-drawer_menu-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}

.nav-drawer-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Hidden menu end */





/* Content */


/* Landing Heroe - start */
.content-wrap {
    width: 100%;
    max-width: 1920px;
    margin-top: 90px;
    margin-bottom: 200px;
    z-index: 5;
}

.landing,
.landing-heroe {
    position: relative;
    width: 100%;
}

.landing-heroe {
    height: calc(100vh - 90px);
    background: url(../img/index_home/Demo8-1.0aa0e9b0.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

.landing-heroe-content {
    display: inline-block;
    color: #fff;
    padding-left: 60px;
    padding-top: 3%;
    transition: padding-top .2s ease-in;
}

.landing-heroe-title {
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.landing-heroe-text {
    font-weight: 300;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 20px;
}

.landing-heroe-button {
    background-color: #4e4e4e;
    width: 130px;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #fff;
    word-wrap: none;
    margin-top: 2rem;
}

.landing-heroe-button:hover {
    background-color: #3d3d3d;
}

.landing-heroe-content-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 90px;
    padding-bottom: 20px;
    cursor: pointer;
}

.landing-heroe-content-hook {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

.bolder {
    font-weight: 800;
}

/* Landing Heroe - end */

/* Landing intro - start */
.landing-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.landing-intro_title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.landing-intro_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    width: 52%;
    text-align: center;
}

.landing-intro_button {
    width: 130px;
    height: 50px;
    font-size: 14px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.landing-intro_button:hover {
    background-color: #262626;
}

.landing-intro_button-link {
    font-weight: 500;
    color: #fff;
}

/* Landing intro - end */

/* Landing categories - start */
.landing-categories {
    width: 100%;
    position: relative;
    background-color: #090909;
    color: #fff;
    padding: 40px 0 80px;
}

.landing-categories_title {
    text-transform: uppercase;
    padding-left: calc(5% + 15px);
    font-size: 18px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 10px;
}

.landing-categories_window-wrap {
    width: 100%;
    height: 60vw;
    max-height: 700px;
    display: flex;
    padding: 0 5%;
}

.window1 {
    background-image: url(../img/index_home/TrailBGCategoires.ca80c992.jpg);
}

.window2 {
    background-image: url(../img/index_home/DownHillBGCategories.17c67a11.jpg);
}

.window3 {
    background-image: url(../img/index_home/SWorksBGCategories.6f644da7.jpg);
}

.window1,
.window2,
.window3 {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-categories_window {
    width: 33.33%;
    height: 90%;
    position: relative;
}

.landing-categories__innew-window {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.landing-categories__innew-window:hover {
    opacity: 0;
}

.landing-categories__window-text {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.8vw;
    white-space: nowrap;
    font-weight: 900;
    color: #fff;
}

/* Landing categories - end */

/* Landing bigImg - start */
.landing-big-image {
    width: 100%;
    height: 80vh;
    background: url(../img/index_home/LandingBigImage.e0f55f86.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.landing-big-image_title-wrap {
    padding-top: 2%;
    padding-left: 45px;
    position: relative;
}

.landing-big-image__title1,
.landing-big-image__title2 {
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 900;
    color: #fff;
    line-height: 8vw;
}

.landing-big-image_text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 45px;
}

.landing-big-image__text {
    color: #fff;
    font-size: 14px;
}

.bolder {
    font-weight: 800;
}

/* Landing bigImg - end */

/* Landing video - start */
.landing-video {
    width: 100%;
    background-color: #090909;
    padding: 40px 0 80px;
}

.landing-video_title {
    text-transform: uppercase;
    padding-left: calc(5% + 15px);
    font-size: 18px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 10px;
    white-space: nowrap;
    color: #fff;
}

.landing-video_video-wrap {
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Landing video - end */

/* Landing instagram - start */
.landing-instagram {
    width: 100%;
    padding-bottom: 40px;
}

.landing-instagram_title {
    text-transform: uppercase;
    padding-left: calc(5% + 15px);
    font-size: 18px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 10px;
}

.landing-instagram_info-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.landing-instagram_info-img {
    width: 100px;
    height: 100px;
    background: url(../img/icos/IGLogo.29326bd8.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
}

.landing-instagram_link {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

.landing-instagram_link:hover {
    color: var(--hover-clr-red-)
}

.verified {
    width: 20px;
    height: 20px;
    background: url(../img/icos/Verified.5a7fbb87.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.landing-instagram_img-wrap {
    width: 100%;
    padding: 40px 80px 80px;
}

.landing-instagram-image1 {
    background: url(../img/index_home/insatgram/IG1.img1.jpg);
}

.landing-instagram-image2 {
    background: url(../img/index_home/insatgram/IG1.img2.jpg);
}

.landing-instagram-image3 {
    background: url(../img/index_home/insatgram/IG1.img3.jpg);
}

.landing-instagram-image4 {
    background: url(../img/index_home/insatgram/IG1.img4.jpg);
}

.landing-instagram-image5 {
    background: url(../img/index_home/insatgram/IG1.img5.jpg);
}

.landing-instagram-image6 {
    background: url(../img/index_home/insatgram/IG1.img6.jpg);
}

.landing-instagram_img-row {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.row-img {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 29%;
    height: 100%;
    background-color: #fff;
}

/* Landing instagram - end */



/* footer - start */
.footer,
.footer-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #141414;
    color: #fff;
    z-index: 1000000;
    padding: 0 auto;
}

.footer-wrap {
    height: 100%;
    max-width: 1920px;
    position: relative;
    align-items: center;
    padding: 0 255px;
}

.footer_left {
    width: 245px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 35px;
}

.footer__form {
    display: flex;
    margin-bottom: 20px;
}

.footer__form-input {
    border: none;
    width: 180px;
    height: 42px;
    padding: 10px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.footer__form-submit {
    text-transform: uppercase;
    width: 65px;
    height: 42px;
    background-color: #d32e2e;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.footer__form-submit:hover {
    background-color: #b32727;
}

.footer_left-text {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    margin: 5px 0;
}



.footer-terms {
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    transition: color .3s ease-out;
}

.footer-terms:hover {
    color: var(--hover-clr-red-)
}

.footer_center {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer_center-text {
    white-space: nowrap;
    margin: 0 10px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: color .3s ease-out;
}

.footer_center-text:hover {
    color: var(--hover-clr-red-)
}

.footer_right {
    width: 230px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 35px;
}

.footer_right-retailer-button {
    text-transform: uppercase;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.footer_right-retailer-button:hover {
    background-color: var(--hover-clr-red-)
}

.footer-social-tags {
    width: 75%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-tag {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.footer-social-tag1 {
    background: url(../img/index_home/socialMedia/TwitterIcon.f78aabe6.svg);
}

.footer-social-tag2 {
    background: url(../img/index_home/socialMedia/InstagramIcon.2faa7fd4.svg);
}

.footer-social-tag3 {
    background: url(../img/index_home/socialMedia/FacebookIcon.9e285c2f.svg);
}

.footer-social-tag4 {
    background: url(../img/index_home/socialMedia/YoutubeIcon.ce61a0ce.svg);
}

.social-tag {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: width .3s ease-out;
    transition: height .3s ease-out;
}

.social-tag:hover {
    width: 30px;
    height: 30px;
}

.tag4 {
    width: 22px;
    height: 22px;
}

.footer_CopyRights-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_CopyRights-top {
    display: flex;
    justify-content: space-between;
}

.footer_CopyRights-text {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin: 0 5px 7px;
    cursor: pointer;
}

.footer_CopyRights-text:hover {
    color: #ed1c24;
}

.footer_CopyRights-bottom {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin-bottom: 4px;
    white-space: nowrap;
}

/* Footer end */




/* Mobile Footer start */
.mobile-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    background-color: #141414;
    color: #fff;
    padding: 0 20px;
    z-index: 900;
}

.mobile-footer_wrap {
    height: 100%;
    margin: 0 15px;
}

.mobile-footer_wrap,
.mobile-footer_top {
    align-items: center;
}

.mobile-footer_wrap,
.mobile-footer_top,
.mobile-footer_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-footer_form-input {
    border: none;
    width: 100%;
    height: 45px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 18px;
    text-align: center;
    outline: none;
    margin-bottom: 10px;
    margin-top: 25px;
}

.mobile-footer_form-submit {
    height: 45px;
    background-color: #d32e2e;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease-in-out;
}

.mobile-footer_form-submit:hover {
    background-color: #b32727;
}

.mobile-footer_left-text {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    text-align: center;
    width: 90%;
    line-height: 20px;
}

.mobile-footer_terms {
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 30px;
    cursor: pointer;
}

.mobile-footer_terms:hover {
    color: var(--hover-clr-red-)
}

.mobile-footer_middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-footer_middle-right-retailerButton {
    width: 100%;
    height: 45px;
    background-color: #4e4e4e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: background-color .3s ease-in-out;
}

.mobile-footer_middle-right-retailerButton:hover {
    background-color: var(--hover-clr-red-btn-);
}

.mobile-footer-social-tags {
    width: 280px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-tag {
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.footer-social-tag1 {
    background: url(../img/index_home/socialMedia/TwitterIcon.f78aabe6.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-social-tag2 {
    background: url(../img/index_home/socialMedia/InstagramIcon.2faa7fd4.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-social-tag3 {
    background: url(../img/index_home/socialMedia/FacebookIcon.9e285c2f.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-social-tag4 {
    width: 22px;
    height: 22px;
    background: url(../img/index_home/socialMedia/YoutubeIcon.ce61a0ce.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.mobile-footer_bottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
}

.mobile-footer_center-text {
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px 5px;
}

.mobile-footer_center-text:hover {
    color: var(--hover-clr-red-);
}

.footer_CopyRights-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_CopyRights-top {
    display: flex;
    justify-content: space-between;
}

.footer_CopyRights-text {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin: 0 5px 7px;
    cursor: pointer;
}

.footer_CopyRights-bottom {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin-bottom: 4px;
    white-space: nowrap;
}

/* Mobile Footer end */


/* CART CSS */

.cart {
    height: 100%;
    justify-content: center;
    position: relative;
    color: #141414;
}

.cart-wrap {
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
}

.cart,
.cart-wrap {
    width: 100%;
    display: flex;
}

.cart-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
}

.cart-header_title {
    font-size: 22px;
    font-weight: 600;
    margin-right: 60px;
}

.cart-header_Shopping {
    font-size: 10px;
    font-weight: 400;
}

.cart-header_Shopping:hover {
    color: #d32e2e;
}

/* CART CONTENT */

.cart-content,
.cart-content-wrap-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.cart-content_title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cart-content_text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.cart-header_contShopping {
    font-size: 12px;
    font-weight: 500;
    color: #d32e2e;
    text-decoration: underline;
}


/* CART INFO */
.cart-info-bottom {
    width: 80%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-info_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-info_section-title {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cart-info_section-info {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.underlined {
    text-decoration: underline;
    cursor: pointer;
}

.cart-info_section-link {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 9px;
    cursor: pointer;
}

.cart-info_section-payment-wrap {
    display: flex;
    justify-content: space-between;
}

.payCart-icon1 {
    background: url(../img/icos/svg/visa.fde3985c.svg);
}

.payCart-icon2 {
    background: url(../img/icos/svg/discover.0d4e59b5.svg);
}

.payCart-icon3 {
    background: url(../img/icos/svg/amex.0a6a64fe.svg);
}

.payCart-icon4 {
    background: url(../img/icos/svg/americanExpress.28f8412e.svg);
}

.payCart-icon5 {
    background: url(../img/icos/svg/paypal.6f5c5ff9.svg);
}

.payCart-icon1,
.payCart-icon2,
.payCart-icon3,
.payCart-icon4,
.payCart-icon5 {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-info_section-payment {
    width: 35px;
    height: 25px;
    margin: 0 2px;
}